.col-six,
.col-1-2 {
	width: 50%;
}

.tab-full {
		width: 100%;
	}

	/**
	 * skillbars - (_skillbars.scss)
	 * -------------------------------------------------------------------
	 */
	.skill-bars {
		list-style: none;
		margin: 6rem 0 3rem;
	}
	.skill-bars li {
		height: .6rem;
		background: #a1a1a1;
		width: 100%;
		margin-bottom: 6rem;
		padding: 0;
		position: relative;
	}
	.skill-bars li strong {
		position: absolute;
		left: 0;
		top: -3rem;
		font-family: "poppins-bold", sans-serif;
		color: #313131;
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-size: 1.5rem;
		line-height: 2.4rem;
	}
	.skill-bars li .progress {
		background: #313131;
		position: relative;
		height: 100%;
	}
	.skill-bars li .progress span {
		position: absolute;
		right: 0;
		top: -3.6rem;
		display: block;
		font-family: "poppins-regular", sans-serif;
		color: white;
		font-size: 1.1rem;
		line-height: 1;
		background: #313131;
		padding: .6rem .6rem;
		border-radius: 3px;
	}
	.skill-bars li .progress span::after {
		position: absolute;
		left: 50%;
		bottom: 0px;
		margin-left: -5px;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		border-top: 5px solid #313131;
		content: "";
	}

	.skill-bars li .percent5   { width: 5%; }
	.skill-bars li .percent10  { width: 10%; }
	.skill-bars li .percent15  { width: 15%; }
	.skill-bars li .percent20  { width: 20%; }
	.skill-bars li .percent25  { width: 25%; }
	.skill-bars li .percent30  { width: 30%; }
	.skill-bars li .percent35  { width: 35%; }
	.skill-bars li .percent40  { width: 40%; }
	.skill-bars li .percent45  { width: 45%; }
	.skill-bars li .percent50  { width: 50%; }
	.skill-bars li .percent55  { width: 55%; }
	.skill-bars li .percent60  { width: 60%; }
	.skill-bars li .percent65  { width: 65%; }
	.skill-bars li .percent70  { width: 70%; }
	.skill-bars li .percent75  { width: 75%; }
	.skill-bars li .percent80  { width: 80%; }
	.skill-bars li .percent85  { width: 85%; }
	.skill-bars li .percent90  { width: 90%; }
	.skill-bars li .percent95  { width: 95%; }
	.skill-bars li .percent100 { width: 100%; }

	/**
	 * ===================================================================
	 * 12. resume - (_layout.scss)
	 *
	 * -------------------------------------------------------------------
	 */
	#resume {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}

	#resume .resume-header {
		text-align: justify;
	}
	#resume .resume-header h2 {
		color: #888888;
	}
	#resume .resume-header h3 {
		color: #888888;
	}

	#resume .resume-timeline {
		max-width: 980px;
	}
	#resume .timeline-wrap {
		position: relative;
		margin-top: 1.5rem;
		margin-bottom: 6rem;
	}
	#resume .timeline-wrap::before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);
		position: absolute;
		left: 25%;
		top: 0;
	}
	#resume .timeline-block {
		position: relative;
		padding-top: 1.5rem;
	}
	#resume .timeline-ico {
		height: 1.8rem;
		width: 1.8rem;
		line-height: 4.8rem;
		background: #313131;
		border-radius: 50%;
		text-align: center;
		color: #FFFFFF;
		position: absolute;
		left: 27.1%;
		top: 2.5rem;
		margin-left: -2.4rem;
	}
	#resume .timeline-ico i {
		position: relative;
		left: .05rem;
		top: .2rem;
	}

	#resume .timeline-header {
		float: left;
		width: 25%;
		padding-right: 30px;
		text-align: right;
	}
	#resume .timeline-header h3 {
		margin-bottom: 0;
		color: #888888;
	}
	#resume .timeline-header p {
		font-family: "poppins-regular", sans-serif;
		font-size: 1.6rem;
		color: #888888;
	}
	#resume .timeline-content {
		margin-left: 25%;
		padding-left: 30px;
	}
	#resume .timeline-content h4 {
		position: relative;
		padding-bottom: 1.8rem;
	}
	#resume .timeline-content h4::after {
		content: "";
		display: block;
		height: 3px;
		width: 50px;
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		left: 0;
		bottom: 0;
	}

	/**
	 * responsive:
	 * resume
	 * -------------------------------------------------------------------
	 */
	@media only screen and (max-width:1024px) {
		#resume .timeline-header {
			padding-right: 50px;
		}
		#resume .timeline-header h3 {
			font-size: 1.8rem;
		}
		#resume .timeline-header p {
			font-size: 1.4rem;
		}
		#resume .timeline-content {
			padding-left: 50px;
		}
	}
	@media only screen and (max-width:768px) {
		#resume .timeline-wrap::before {
			left: 2.4rem;
		}
		#resume .timeline-ico {
			left: 2.4rem;
		}
		#resume .timeline-header {
			float: none;
			width: auto;
			padding-right: 15px;
			text-align: left;
		}
		#resume .timeline-header h3 {
			font-size: 2rem;
		}
		#resume .timeline-header p {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
		#resume .timeline-content {
			margin: 0;
		}
		#resume .timeline-content h4 {
			padding-bottom: 0;
			padding-top: 2.1rem;
			margin-bottom: .6rem;
			font-size: 1.7rem;
		}
		#resume .timeline-content h4::after {
			bottom: auto;
			top: 0;
		}
		#resume .timeline-header, #resume .timeline-content {
			padding-left: 7rem;
		}
	}
	@media only screen and (max-width:480px) {
		#resume .resume-header h2 {
			font-size: 2.2rem;
		}
		#resume .timeline-wrap::before {
			left: 1.8rem;
		}
		#resume .timeline-ico {
			height: 3.6rem;
			width: 3.6rem;
			line-height: 3.6rem;
			left: 1.8rem;
			margin-left: -1.8rem;
			font-size: 1.5rem;
		}
		#resume .timeline-header, #resume .timeline-content {
			padding-left: 5.5rem;
		}
	}
